h1{
    text-align: center;

   }

   body {
    
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(http://localhost:8888/ISCC-2020/image/Set-table-vinyle-Marbre-blanc-blanc.jpg);
   }

header{
    text-align: center;

}

header {
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    height: 120px;
    font-family: "nasalization-rg.ttf";
    font-size: 20px;
   }