header{

    text-align: center; 
    font-family: "nasalization-rg.ttf";
    font-size: 27px;
   }

   body {
    padding-left: 10%;
    padding-right: 10%;
    background-image: url(http://localhost:8888/ISCC-2020/image/Set-table-vinyle-Marbre-blanc-blanc.jpg);
   
   }

